body
{
	
	background:url(../images/back.jpg) no-repeat ;

}
#footer {
	height: auto;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 140px;
	background-image: url(../images/heade.png);
	background-repeat: repeat;
}
.payment
{
	background-color: pink;
	color:green;
	text-decoration: underline;
	text-align: center;
}